@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.contact {
    padding: 50px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-form {
    text-align: left;
}

form {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
    transition: 1s ease;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #008141;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin-bottom: 10px;
    color: #333;
}

.contact-info i {
    color: #008141;
    margin-right: 10px;
}

@media screen and(max-width: 768px) {
    .container {
        padding: 20px;
    }
    form {
        flex-direction: column;
    }
}