@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(104, 109, 118, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #686D76;
    border-radius: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.logo .logo-footer {
    max-width: 150px;
    background-color: #fff;
    margin-right: 100px;
    margin-left: 30px;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 4px;
    box-sizing: border-box;
    width: 50px;
    border-radius: 10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-col .social-links {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer-col .social-links i {
    color: #bbb;
    transition: 0.5s ease;
}

.footer-col .social-links i:hover {
    color: #fff;
}

hr {
    border: 1px solid #bbb;
}

.copyright {
    text-align: center;
    background-color: #24262b;
    color: #bbb;
    padding: 20px 0;
}