::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(104, 109, 118, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #686D76;
    border-radius: 15px;
}